<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}Home{% endblock %}</title>
        {% block mycss %}
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        {% endblock %}
    </head>
    <body>
        <div id='header_wrap'>
            <div id='header'>
                <ul>
                    <li><a href={{url_for('user.index')}} style="text-decoration:none; color:blue;">首页</a></li>
                    <li><a href={{url_for('data.submit')}} style="text-decoration:none; color:blue;">提交</a></li>
                    <li><a href={{url_for('user.login')}} style="text-decoration:none; color:blue;">登录</a></li>
                    <li><a href={{url_for('user.register')}} style="text-decoration:none; color:blue;">注册</a></li>
                </ul>
            </div>
        </div>
        <div id='center_wrap'>
            <div id='center'>
                 {% block center %}

                 {% endblock %}
            </div>
        </div>
        <div id="footer_wrap">
            <div id='footer'>
                {% block footer %}

                {% endblock %}
            </div>
        </div>
        {% block myjs %}
        
        {% endblock %}
    </body>

</html>